<section style="padding-top: 5%;">
</section>

<section class="py-5 rounded" style="margin-left: 10%; margin-right: 10%; padding-left: 10%; padding-right: 10%; background-color:white;">
  <center><h1 class="display-4">Weight Cutting</h1></center>
  <br>
  <!-- Source https://www.healthline.com/nutrition/cutting-diet#tips -->
  <ul class="list-group">
  <li class="list-group-item"><span class="badge badge-primary badge-pill">1 </span> Choose more fiber-rich foods. Fiber-rich carb sources like non-starchy vegetables tend to contain more nutrients and can help you stay fuller for longer while on a calorie deficit</li>
  <li class="list-group-item"><span class="badge badge-primary badge-pill">2 </span> Drink plenty of water. Staying hydrated may help curb your appetite and temporarily speed up your metabolism</li>
  <li class="list-group-item"><span class="badge badge-primary badge-pill">3 </span> Try meal prepping. Preparing meals ahead of schedule can help save time, keep you on track with your diet, and avoid the temptation of unhealthy foods.</li>
  <li class="list-group-item"><span class="badge badge-primary badge-pill">4 </span> Avoid liquid carbs. Sports drinks, soft drinks, and other sugar-rich beverages lack micronutrients, may increase your levels of hunger, and aren’t as filling as fiber-rich, whole foods</li>
  <li class="list-group-item"><span class="badge badge-primary badge-pill">5 </span> Consider cardio. When used alongside weight lifting, aerobic exercise — especially high-intensity cardio — may further your fat loss</li>
</ul>
<br>
<!-- Source https://www.maximuscle.com/sports/bodybuilding/4-Week-Diet-For-Cutting/ -->
<div id="cuttingBreakfast" class="accordion shadow">
  <!-- Accordion item 1 -->
  <div class="card">
    <div id="headingOne" class="card-header bg-white shadow-sm border-0">
      <h2 class="mb-0">
        <button type="button" data-toggle="collapse" data-target="#cuttingBreakfastMeal" aria-expanded="false" aria-controls="cuttingBreakfastMeal" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Breakfast Meals</button>
      </h2>
    </div>

    <div id="cuttingBreakfastMeal" aria-labelledby="headingOne" data-parent="#cuttingBreakfast" class="collapse">
      <div class="card-body p-5">
        <div id="headingOne" class="card-header bg-white shadow-lg border-0">
          <h2 class="mb-0">
            <p class="btn collapsed text-dark font-weight-bold text-uppercase center">- Banana (approx. 100 cals)</p>
          </h2>
          <br>
          <h2 class="mb-0">
            <p class="btn collapsed text-dark font-weight-bold text-uppercase center">- Any single piece of fruit or handful of berries (cals vary)</p>
          </h2>
          <br>
          <h2 class="mb-0">
            <p class="btn collapsed text-dark font-weight-bold text-uppercase center">- 1 cup edamame beans (approx. 250 cals)</p>
          </h2>
          <br>
          <h2 class="mb-0">
            <p class="btn collapsed text-dark font-weight-bold text-uppercase center">- Handful of nuts (approx. 160 cals)</p>
          </h2>
          <br>
          <h2 class="mb-0">
            <p class="btn collapsed text-dark font-weight-bold text-uppercase center">- Promax Lean Bar (approx. 206 cals)</p>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End -->

<div id="cuttingLunch" class="accordion shadow">
  <!-- Accordion item 1 -->
  <div class="card">
    <div id="headingOne" class="card-header bg-white shadow-sm border-0">
      <h2 class="mb-0">
        <button type="button" data-toggle="collapse" data-target="#cuttingLuchingMeals" aria-expanded="false" aria-controls="cuttingLuchingMeals" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Lunch Meals</button>
      </h2>
    </div>

    <div id="cuttingLuchingMeals" aria-labelledby="headingOne" data-parent="#cuttingLunch" class="collapse">
      <div class="card-body p-5">
        <div id="headingOne" class="card-header bg-white shadow-lg border-0">
          <h2 class="mb-0">
            <p class="btn collapsed text-dark font-weight-bold text-uppercase center">- Chicken, brown rice and broccoli (approx. 300 cals) </p>
          </h2>
          <br>
          <h2 class="mb-0">
            <p class="btn collapsed text-dark font-weight-bold text-uppercase center">- Extra lean ground beef, cauliflower and brown rice (approx. 300 cals)</p>
          </h2>
          <br>
          <h2 class="mb-0">
            <p class="btn collapsed text-dark font-weight-bold text-uppercase center">- Grilled courgette, kale, pepper and humous wrap (approx. 332 cals)</p>
          </h2>
          <br>
          <h2 class="mb-0">
            <p class="btn collapsed text-dark font-weight-bold text-uppercase center">- Chicken wrap with tomatoes, cucumber, olives and hummus (approx. 243 cals) </p>
          </h2>
          <br>
          <h2 class="mb-0">
            <p class="btn collapsed text-dark font-weight-bold text-uppercase center">- Chilli with quorn mince (approx. 275 cals)</p>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End -->

<div id="cuttingDinner" class="accordion shadow">
  <!-- Accordion item 1 -->
  <div class="card">
    <div id="headingOne" class="card-header bg-white shadow-sm border-0">
      <h2 class="mb-0">
        <button type="button" data-toggle="collapse" data-target="#cuttingDinnerMeals" aria-expanded="false" aria-controls="cuttingDinnerMeals" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Dinner Meals</button>
      </h2>
    </div>

    <div id="cuttingDinnerMeals" aria-labelledby="headingOne" data-parent="#cuttingDinner" class="collapse">
      <div class="card-body p-5">
        <div id="headingOne" class="card-header bg-white shadow-lg border-0">
          <h2 class="mb-0">
            <p class="btn collapsed text-dark font-weight-bold text-uppercase center">- Tuna steak, two sweet potatoes, broccoli and asparagus (approx. 350 calories) </p>
          </h2>
          <br>
          <h2 class="mb-0">
            <p class="btn collapsed text-dark font-weight-bold text-uppercase center">- Chicken burger with wholewheat bread + fried egg (approx. 500 cals)</p>
          </h2>
          <br>
          <h2 class="mb-0">
            <p class="btn collapsed text-dark font-weight-bold text-uppercase center">- Chicken stew with quinoa and beans (approx. 330 cals)</p>
          </h2>
          <br>
          <h2 class="mb-0">
            <p class="btn collapsed text-dark font-weight-bold text-uppercase center">- Beef stir-fry with brown rice (approx. 400 cals) </p>
          </h2>
          <br>
          <h2 class="mb-0">
            <p class="btn collapsed text-dark font-weight-bold text-uppercase center">- Low calorie chicken korma, replacing cream with yoghurt (approx. 376 cals) </p>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End -->
</section>

<section class="py-5 rounded" style="margin-left: 10%; margin-right: 10%; padding-left: 10%; padding-right: 10%; background-color:white;  margin-top: 5%;">
  <center><h1 class="display-4">Weight Loss</h1></center>
  <br>
  <!-- Source https://www.healthline.com/nutrition/how-to-lose-weight-as-fast-as-possible#section6 -->
  <ul class="list-group">
  <li class="list-group-item"><span class="badge badge-primary badge-pill">1</span> Cut Back on Sugars and Starches</li>
  <li class="list-group-item"><span class="badge badge-primary badge-pill">2</span> Eat Protein, Fat and Vegetables</li>
  <li class="list-group-item"><span class="badge badge-primary badge-pill">3</span> Lift Weights 3 Times Per Week</li>
  <li class="list-group-item"><span class="badge badge-primary badge-pill">4</span> Do a "Carb Refeed" Once Per Week</li>
  <li class="list-group-item"><span class="badge badge-primary badge-pill">5</span> Get a good night's sleep, every night</li>
</ul>
<br>
<!-- https://www.healthline.com/nutrition/weight-loss-meal-plan#sample-menu -->
<div id="wLossBreakfast" class="accordion shadow">
  <!-- Accordion item 1 -->
  <div class="card">
    <div id="headingOne" class="card-header bg-white shadow-sm border-0">
      <h2 class="mb-0">
        <button type="button" data-toggle="collapse" data-target="#wLossBreakfastMeal" aria-expanded="false" aria-controls="wLossBreakfastMeal" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Breakfast Meals</button>
      </h2>
    </div>

    <div id="wLossBreakfastMeal" aria-labelledby="headingOne" data-parent="#wLossBreakfast" class="collapse">
      <div class="card-body p-5">
        <div id="headingOne" class="card-header bg-white shadow-lg border-0">
          <h2 class="mb-0">
            <p class="btn collapsed text-dark font-weight-bold text-uppercase center">- overnight oats made with rolled oats, chia seeds, and milk, topped with fresh berries and pumpkin seeds</p>
          </h2>
          <br>
          <h2 class="mb-0">
            <p class="btn collapsed text-dark font-weight-bold text-uppercase center">- breakfast smoothie made with kale, frozen cherries, banana, protein powder, flax seeds, and milk</p>
          </h2>
          <br>
          <h2 class="mb-0">
            <p class="btn collapsed text-dark font-weight-bold text-uppercase center">- Spanish omelet made with eggs, potatoes, onions, and peppers, served with a side of salsa</p>
          </h2>
          <br>
          <h2 class="mb-0">
            <p class="btn collapsed text-dark font-weight-bold text-uppercase center">- yogurt topped with fresh fruit and chopped walnuts</p>
          </h2>
          <br>
          <h2 class="mb-0">
            <p class="btn collapsed text-dark font-weight-bold text-uppercase center">- overnight oats topped with chopped pecans, mango, and coconut flakes</p>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End -->

<div id="wLossLunch" class="accordion shadow">
  <!-- Accordion item 1 -->
  <div class="card">
    <div id="headingOne" class="card-header bg-white shadow-sm border-0">
      <h2 class="mb-0">
        <button type="button" data-toggle="collapse" data-target="#wLossLuchingMeals" aria-expanded="false" aria-controls="wLossLuchingMeals" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Lunch Meals</button>
      </h2>
    </div>

    <div id="wLossLuchingMeals" aria-labelledby="headingOne" data-parent="#wLossLunch" class="collapse">
      <div class="card-body p-5">
        <div id="headingOne" class="card-header bg-white shadow-lg border-0">
          <h2 class="mb-0">
            <p class="btn collapsed text-dark font-weight-bold text-uppercase center">- premade egg-and-veggie muffins with a fresh basil-and-tomato salad and some avocado</p>
          </h2>
          <br>
          <h2 class="mb-0">
            <p class="btn collapsed text-dark font-weight-bold text-uppercase center">- red lentil dahl and fresh spinach over brown rice</p>
          </h2>
          <br>
          <h2 class="mb-0">
            <p class="btn collapsed text-dark font-weight-bold text-uppercase center">- kale salad topped with a poached egg or marinated seitan, as well as dried cranberries, cherry tomatoes, whole-grain pita chips, and an avocado-mango dressing</p>
          </h2>
          <br>
          <h2 class="mb-0">
            <p class="btn collapsed text-dark font-weight-bold text-uppercase center">- leftover chili served on a bed of greens and wild rice</p>
          </h2>
          <br>
          <h2 class="mb-0">
            <p class="btn collapsed text-dark font-weight-bold text-uppercase center">- tuna or chickpea salad, served atop mixed greens with sliced avocado, sliced apple, and walnuts</p>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End -->

<div id="wLossDinner" class="accordion shadow">
  <!-- Accordion item 1 -->
  <div class="card">
    <div id="headingOne" class="card-header bg-white shadow-sm border-0">
      <h2 class="mb-0">
        <button type="button" data-toggle="collapse" data-target="#wLossDinnerMeals" aria-expanded="false" aria-controls="wLossDinnerMeals" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Dinner Meals</button>
      </h2>
    </div>

    <div id="wLossDinnerMeals" aria-labelledby="headingOne" data-parent="#wLossDinner" class="collapse">
      <div class="card-body p-5">
        <div id="headingOne" class="card-header bg-white shadow-lg border-0">
          <h2 class="mb-0">
            <p class="btn collapsed text-dark font-weight-bold text-uppercase center">- grilled salmon or tempeh, potatoes, and sautéed kale</p>
          </h2>
          <br>
          <h2 class="mb-0">
            <p class="btn collapsed text-dark font-weight-bold text-uppercase center">- shrimp or bean fajitas with grilled onions, bell peppers, and guacamole, served on a corn tortilla</p>
          </h2>
          <br>
          <h2 class="mb-0">
            <p class="btn collapsed text-dark font-weight-bold text-uppercase center">- chili served on a bed of greens and wild rice</p>
          </h2>
          <br>
          <h2 class="mb-0">
            <p class="btn collapsed text-dark font-weight-bold text-uppercase center">- chicken or tofu meatballs in a marinara sauce served with spaghetti squash on a bed of mixed baby greens and topped with Parmesan cheese or nutritional yeast</p>
          </h2>
          <br>
          <h2 class="mb-0">
            <p class="btn collapsed text-dark font-weight-bold text-uppercase center">- red lentil dahl served on a bed of baby spinach and brown rice</p>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End -->
</section>

<section class="py-5 rounded" style="margin-left: 10%; margin-right: 10%; padding-left: 10%; padding-right: 10%; background-color:white;  margin-top: 5%;">
  <center><h1 class="display-4">Weight Gain</h1></center>
  <br>
  <!-- https://www.healthline.com/nutrition/how-to-gain-weight#section5 -->
  <ul class="list-group">
  <li class="list-group-item"><span class="badge badge-primary badge-pill">1</span> Eat More Calories Than Your Body Burns</li>
  <li class="list-group-item"><span class="badge badge-primary badge-pill">2</span> Eat Plenty of Protein</li>
  <li class="list-group-item"><span class="badge badge-primary badge-pill">3</span> Fill up on Plenty of Carbs and Fat and Eat at Least 3 Times per Day</li>
  <li class="list-group-item"><span class="badge badge-primary badge-pill">4</span> Eat Energy-Dense Foods and Use Sauces, Spices and Condiments</li>
  <li class="list-group-item"><span class="badge badge-primary badge-pill">5</span> Lift Heavy Weights and Improve Your Strength</li>
</ul>
<br>
<!-- https://www.trifectanutrition.com/blog/meal-prep-for-weight-gain-your-complete-muscle-building-diet-plan -->
<div id="wGainBreakfast" class="accordion shadow">
  <!-- Accordion item 1 -->
  <div class="card">
    <div id="headingOne" class="card-header bg-white shadow-sm border-0">
      <h2 class="mb-0">
        <button type="button" data-toggle="collapse" data-target="#wGainBreakfastMeal" aria-expanded="false" aria-controls="wGainBreakfastMeal" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Breakfast Meals</button>
      </h2>
    </div>

    <div id="wGainBreakfastMeal" aria-labelledby="headingOne" data-parent="#wGainBreakfast" class="collapse">
      <div class="card-body p-5">
        <div id="headingOne" class="card-header bg-white shadow-lg border-0">
          <h2 class="mb-0">
            <p class="btn collapsed text-dark font-weight-bold text-uppercase center">- Egg White Frittata</p>
          </h2>
          <br>
          <h2 class="mb-0">
            <p class="btn collapsed text-dark font-weight-bold text-uppercase center">- Salmon Eggs Benedict</p>
          </h2>
          <br>
          <h2 class="mb-0">
            <p class="btn collapsed text-dark font-weight-bold text-uppercase center">- Peanut Butter Chocolate Oatmeal Bowl</p>
          </h2>
          <br>
          <h2 class="mb-0">
            <p class="btn collapsed text-dark font-weight-bold text-uppercase center">- Egg And Pesto Sandwich</p>
          </h2>
          <br>
          <h2 class="mb-0">
            <p class="btn collapsed text-dark font-weight-bold text-uppercase center">- Protein Yogurt Parfait</p>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End -->

<div id="wGainLunch" class="accordion shadow">
  <!-- Accordion item 1 -->
  <div class="card">
    <div id="headingOne" class="card-header bg-white shadow-sm border-0">
      <h2 class="mb-0">
        <button type="button" data-toggle="collapse" data-target="#wGainLuchingMeals" aria-expanded="false" aria-controls="wGainLuchingMeals" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Lunch Meals</button>
      </h2>
    </div>

    <div id="wGainLuchingMeals" aria-labelledby="headingOne" data-parent="#wGainLunch" class="collapse">
      <div class="card-body p-5">
        <div id="headingOne" class="card-header bg-white shadow-lg border-0">
          <h2 class="mb-0">
            <p class="btn collapsed text-dark font-weight-bold text-uppercase center">- Thai Shrimp Noodle Bowl</p>
          </h2>
          <br>
          <h2 class="mb-0">
            <p class="btn collapsed text-dark font-weight-bold text-uppercase center">- Flat Iron Steak Fajita Bowl</p>
          </h2>
          <br>
          <h2 class="mb-0">
            <p class="btn collapsed text-dark font-weight-bold text-uppercase center">- Asian Turkey Lettuce Wraps</p>
          </h2>
          <br>
          <h2 class="mb-0">
            <p class="btn collapsed text-dark font-weight-bold text-uppercase center">- Teriyaki Pineapple Chicken</p>
          </h2>
          <br>
          <h2 class="mb-0">
            <p class="btn collapsed text-dark font-weight-bold text-uppercase center">- Salmon Grain Bowl</p>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End -->

<div id="wGainDinner" class="accordion shadow">
  <!-- Accordion item 1 -->
  <div class="card">
    <div id="headingOne" class="card-header bg-white shadow-sm border-0">
      <h2 class="mb-0">
        <button type="button" data-toggle="collapse" data-target="#wGainDinnerMeals" aria-expanded="false" aria-controls="wGainDinnerMeals" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Dinner Meals</button>
      </h2>
    </div>

    <div id="wGainDinnerMeals" aria-labelledby="headingOne" data-parent="#wGainDinner" class="collapse">
      <div class="card-body p-5">
        <div id="headingOne" class="card-header bg-white shadow-lg border-0">
          <h2 class="mb-0">
            <p class="btn collapsed text-dark font-weight-bold text-uppercase center">- Tamarind-Chipotle Steak Nachos</p>
          </h2>
          <br>
          <h2 class="mb-0">
            <p class="btn collapsed text-dark font-weight-bold text-uppercase center">- Salmon Stir-fried Noodles</p>
          </h2>
          <br>
          <h2 class="mb-0">
            <p class="btn collapsed text-dark font-weight-bold text-uppercase center">- Creamy Ahi Tuna Pasta</p>
          </h2>
          <br>
          <h2 class="mb-0">
            <p class="btn collapsed text-dark font-weight-bold text-uppercase center">- Steak Gyros</p>
          </h2>
          <br>
          <h2 class="mb-0">
            <p class="btn collapsed text-dark font-weight-bold text-uppercase center">- Honey Sriracha Turkey Meatballs</p>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End -->
</section>
<br>
<br>
